*{
/* para todos os elementos da página*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 1em;
}

nav{
    background-color: #000;
}

nav a {
    color: #fff;
    text-decoration: none;
}
.menu, .submenu{
    list-style-type: none;
    
}